@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700&display=swap');    

:root{
    --darkColor: #3e3e3e;
    --lightColor: #c6c6c6;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#navbar{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: white;
    position: sticky;
    top:0;
    width: 99vw;
    padding:0;
    margin:0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;

}
#navbar>div:first-child{
    width:60%;
}
#navbar>div{
    width: 70%;
    margin:auto;
    display: flex;
    justify-content: space-around;
}

#navbar>div>a{
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    padding:3px 9px;
    border-radius: 4px;
    letter-spacing: 1px;
}

#navbar>div:first-child>a{
    font-size: 9px;
    color: var(--lightColor)
}

#navbar>div:last-child>a{
    padding: 0 0;
    margin:0 12px;
}

#navbar>div:first-child>a:hover{
    background-color: black;
}

#navbar>div:last-child>a:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}

#navbar>div>a>img{
    width:99px;
    height:18px;
}
/* BODY */
body>h1{
    color:grey;
    font-size: 8em;
    text-align: center;
}
#container{
    width:80%;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap:30px;
}

#mainContent>div>div>img{
    width:30%;
}
#mainContent>div>div:last-child{
    display: flex;
}
#mainContent>div>div:last-child>div{
    padding:0 20px;
}
#leftContent>div>div>img,#rightContent>div>div>img{
    width:100%;
}

#container>div>div>:first-child{
    display: flex;
    justify-content: space-between;
    padding:10px 20px;
}
#leftContent>div>div:last-child>p,#rightContent>div>div:last-child>p{
    padding:0 20px;
}
button{
    padding:10px 30px;
    border: none;
    border-radius: 0px;
    border:1px solid black;
    color: black;
    background: transparent;    
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    background-color: black;
    color: white;
}


#container>div{
    display:flex;
    flex-direction: column;
    gap:20px;
}

#container>div>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

#container>div>div>:first-child>p{
    text-transform: uppercase;
    border-right: 2px solid red;
    padding: 2px 10px;
    margin:auto 0;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
}

#mainContent>div>div:last-child>div>p:first-child{
    font-weight: 700;
    font-size: 16px;
}